# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
https://raw.githubusercontent.com/monotone/picbed/main/sy/assets/image-20230319110010-3gungje.png
https://raw.githubusercontent.com/monotone/picbed/main/sy/assets/image-20230319111507-nkdpab7.png
https://raw.githubusercontent.com/monotone/picbed/main/sy/assets/image-20230319112613-9oir1kq.png
https://raw.githubusercontent.com/monotone/picbed/main/sy/assets/image-20230319112646-ac91gc2.png
https://raw.githubusercontent.com/monotone/picbed/main/sy/assets/image-20230319114429-q5oz8m3.png
https://raw.githubusercontent.com/monotone/picbed/main/sy/assets/image-20230319115107-jxy2951.png
https://raw.githubusercontent.com/monotone/picbed/main/sy/assets/image-20230319120846-qly8xr7.png
https://raw.githubusercontent.com/monotone/picbed/main/sy/assets/image-20230319121137-vjz4rh2.png
https://raw.githubusercontent.com/monotone/picbed/main/sy/assets/image-20230319121544-ilf2mxh.png
https://raw.githubusercontent.com/monotone/picbed/main/sy/assets/image-20230319130425-lhrke90.png
https://raw.githubusercontent.com/monotone/picbed/main/sy/assets/image-20230319130527-grn4zww.png
https://raw.githubusercontent.com/monotone/picbed/main/sy/assets/image-20230319130731-l25lago.png
https://raw.githubusercontent.com/monotone/picbed/main/sy/assets/image-20230319185821-nab4zpp.png
https://raw.githubusercontent.com/monotone/picbed/main/sy/assets/image-20230319191500-9edssqj.png
https://raw.githubusercontent.com/monotone/picbed/main/sy/assets/image-20230319191954-s7k2h12.png
https://raw.githubusercontent.com/monotone/picbed/main/sy/assets/image-20230319192402-2igkap7.png
https://raw.githubusercontent.com/monotone/picbed/main/sy/assets/image-20230319192525-ojiebb5.png
https://raw.githubusercontent.com/monotone/picbed/main/sy/assets/image-20230319195113-j3o5t6b.png
https://raw.githubusercontent.com/monotone/picbed/main/sy/assets/image-20230322125917-2ggxch5.png
https://raw.githubusercontent.com/monotone/picbed/main/sy/assets/image-20230322125929-pj5ymh4.png
https://raw.githubusercontent.com/monotone/picbed/main/sy/assets/image-20230324200235-9tu5h8d.png
https://raw.githubusercontent.com/monotone/picbed/main/sy/assets/image-20230324202117-zgf0bvi.png
https://raw.githubusercontent.com/monotone/picbed/main/sy/assets/image-20230324204109-yvedi5i.png
https://raw.githubusercontent.com/monotone/picbed/main/sy/assets/image-20230325175833-ucuicz3.png
https://raw.githubusercontent.com/monotone/picbed/main/sy/assets/image-20230325181408-8j7gu33.png
https://raw.githubusercontent.com/monotone/picbed/main/sy/assets/image-20230325182429-76m0rep.png
https://raw.githubusercontent.com/monotone/picbed/main/sy/assets/image-20230325182437-3qrp2f5.png
https://raw.githubusercontent.com/monotone/picbed/main/sy/assets/image-20230326102413-qo53ssr.png
https://raw.githubusercontent.com/monotone/picbed/main/sy/assets/image-20230326103426-kg336bn.png
https://raw.githubusercontent.com/monotone/picbed/main/sy/assets/image-20230326103442-7n2yynt.png
https://raw.githubusercontent.com/monotone/picbed/main/sy/assets/image-20230326104900-i480tmv.png
https://raw.githubusercontent.com/monotone/picbed/main/sy/assets/image-20230326110829-b9ntuk8.png
https://raw.githubusercontent.com/monotone/picbed/main/sy/assets/image-20230326130140-8iw7jv0.png
https://raw.githubusercontent.com/monotone/picbed/main/sy/assets/image-20230326134515-y1pbcuw.png
https://raw.githubusercontent.com/monotone/picbed/main/sy/assets/VID_20230319_105602-20230319132624-ucb2270.mp4
